* {
    box-sizing: border-box;
}

body {
    background-color: #f3f6f9;
    font-family: "Nunito Sans", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    width: 440px;
}

.logo {
    text-align: center;
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.form-label {
    display: block;
    color: #090637;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 6px;
    width: 100%;
}

.form-input {
    border: 1px solid #515963;
    border-radius: 4px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 38px;
    padding: 0 8px;
    flex: 1 0;
}

.form-input:focus {
    box-shadow: #27aee4 0px 0px 0px 1px inset;
    border: 1px solid #27aee4;
    outline: none;
}

.form-input + .button {
    margin-left: 8px;
}

.button {
    border: none;
    background-color: #03c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    line-height: 40px;
    padding: 0 8px;
}

.button:hover {
    background-color: #101f7c;
}

.footer {
    margin-top: 16px;
    text-align: center;
}

.footer>a {
    text-decoration: inherit;
    color: #03c;
}

.password-form-input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;
}